@mixin display--flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
@mixin flex-wrap($value) {
    -webkit-flex-wrap: $value;
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}
@mixin flex-direction($value) {
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}
@mixin align-items($value) {
    -webkit-align-items: $value;
    align-items: $value;
}
@mixin justify-content($value) {
    -webkit-justify-content: $value;
    justify-content: $value;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);  
    -webkit-transform: rotate($deg); 
    transform: rotate($deg);
}
@mixin box-shadow($value) {
    box-shadow: $value;
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
}
@mixin flex-grow($value) {
    -webkit-flex-grow: $value;
    flex-grow: $value;
}
@mixin flex-flow($value) {
    -webkit-flex-flow: $value;
    flex-flow: $value;
}
@mixin align-content($value) {
    -webkit-align-content: $value;
    align-content: $value;
}
@mixin calc($property, $expression) { 
    #{$property}: -webkit-calc(#{$expression}); 
    #{$property}: -moz-calc(#{$expression});
    #{$property}: calc(#{$expression}); 
} 
@mixin transform($value) {
    -moz-transform: $value;
    -o-transform: $value;  
    -webkit-transform: $value; 
    transform: $value;
}
@media screen and (min-width: 1171px) {

}
@media screen and (min-width: 481px) and (max-width: 1171px) {
    
}
@media screen and (max-width: 480px) {
    
}
  