@import "__reset.scss";
@import "__mixins.scss";
@import "__fonts.scss";
$main-color: #333333;
.container {
    @media screen and (min-width: 940px) {
        margin: 0 auto;
        width: 940px;
        //padding: 0 129px;
    }
    @media screen and (max-width: 1100px) and  (min-width: 940px) {
        margin: 0 auto;
        width: 940px;
        padding: 0 10px;
    }
    @media screen and (max-width: 939px) {
        margin: 0 auto;
        width: 100%;
        padding: 0 10px;
    }
    @media screen and (max-width: 889px) {
        font-size: 0.8em;
    }
}
form {
    position: absolute;
    z-index: 2;
    @include display--flex;
    @include flex-direction(column);
    @include align-items(center);
    padding-bottom: 1.5em;
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    visibility: hidden;
    p {
        font-family: "Ubuntu-Regular", sans-serif;
        font-size: 1em;
        //margin-top: 1em;
    }
    a {
        width: 30px;
        height: 30px;
        background-image: url("../img/close.png");
        background-size: contain;
        margin-top: 10px;
        margin-left: 85%;
        &:hover {
            cursor: pointer;
            background-image: url("../img/close1.png");
        }
    }
    input {
        margin-top: 1em;
    } 
    input[type=text], input[type=phone] {
        width: 80%;
        height: 30px;
        text-indent: 0.5em;
    }
    input[type=submit] {
        width: 80%;
        height: 30px;
        font-family: "Ubuntu-Regular", sans-serif;
        font-size: 0.8em;
        color: white;
        background-color: #B71C1C;
        border: 2px solid #B71C1C;
        &:hover {
            background-color: white;
            cursor: pointer;
            color: #B71C1C;
        }
    }
    @media screen and (min-width: 940px) {
        width: 300px;
        @include calc(margin-left, "50vw - 470px + 940px - 300px");
        margin-top: 120px;
    }
    @media screen and (max-width: 939px) and (min-width: 641px) {
        width: 300px;
        @include calc(margin-left, "100vw - 320px");
        margin-top: 120px;
    }
    @media screen and (max-width: 400px) {
        width: 270px;
        margin-top: 200px;
        @include calc(margin-left, "50vw - 135px");
    }
    @media screen and (min-width: 401px) and (max-width: 640px) {
        margin-top: 200px;
        width: 300px;
        @include calc(margin-left, "50vw - 150px");
    }
}

header {
    padding-bottom: 6.250em;
    @media screen and (max-width: 370px) {
        padding-bottom: 3em;
    }
    background-image: url("../img/banner-1.png");
    &.concrete {
        background-image: url("../img/banner-2.png");  
    }
    background-size: cover;
    background-position: center;
    @include display--flex;
    @include flex-direction(column);
    .header {
        padding: 15px 0;
        background-color: rgba(46, 32, 37, 0.5);
        .container {
            @include display--flex;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include flex-wrap(wrap);
            @media screen and (max-width: 370px) {
                font-size: 0.7em;
            }
            & > img {
                width: 84px;
                height: 84px;
            }
            & > p {
                font-family: "Ubuntu-Regular", sans-serif;
                font-size: 1.875em; //30px
                color: white;
                margin: auto 0;
                @media screen and (max-width: 370px) {
                    font-size: 1.5em;
                }
            }
            nav {
                @include display--flex;
                margin: auto 0;
                a {
                    color: white;
                    font-family: "Ubuntu-Regular", sans-serif;
                    font-size: 1.125em;
                    text-decoration: none;
                    &:nth-child(2) {
                        margin-left: 0.5em;
                    }
                }
                a[href] {
                    color: #c0c0c0;
                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
                @media screen and (max-width: 780px) {
                    order: 4;
                    width: 100%;
                    margin: 0;
                    @include justify-content(center);
                    margin-top: 1.5em; 
                }
            }
            .contacts-container {
                @media screen and (max-width: 780px) {
                    order: 3;
                }
                @media screen and (max-width: 640px) {
                    width: 100%;
                    margin: 0;
                    @include justify-content(center);
                    margin-top: 1em; 
                    border: 1px solid white;
                    padding: 1em 0;
                }
                a#form-show {
                    text-decoration: underline;
                    &:hover {
                        cursor: pointer;
                    }
                }
                margin: auto 0;
                @include display--flex;
                @include flex-direction(row);
                & > div {
                    @include display--flex;
                    @include flex-direction(column);
                    @include justify-content(space-around);
                    &:nth-child(1) {
                        & > div {
                            //  Березовский
                            &:nth-child(1) {
                                img {
                                    width: 15px;
                                    height: 24px;
                                    margin: auto 0;
                                }
                                p {
                                    color: white;
                                    font-family: "Ubuntu-Regular", sans-serif;
                                    font-size: 1.125em;
                                    margin: auto 0.5em;
                                }
                            }
                            //  e-mail
                            &:nth-child(2) {
                                margin-top: 1em;
                                img {
                                    width: 23px;
                                    height: 16px;
                                    margin: auto 0;
                                }
                                a {
                                    color: white;
                                    font-family: "Ubuntu-Regular", sans-serif;
                                    font-size: 0.875em;
                                    text-decoration: none;
                                    margin: auto 0.5em;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-left: 1em;
                        //  Телефон
                        & > div {
                            img {
                                width: 22px;
                                height: 24px;
                                margin: auto 0;
                            }
                            a {
                                @include display--flex;
                                @include flex-direction(column);
                                color: white;
                                font-family: "Ubuntu-Regular", sans-serif;
                                font-size: 1.125em;
                                text-decoration: none;
                                margin: auto 0.5em;
                            }
                        }
                        // обратный звонок
                        & > a {
                            margin-top: 1em;
                            color: white;
                            font-family: "Ubuntu-Regular", sans-serif;
                            font-size: 0.750em;
                            &:hover {
                                color: #c0c0c0;
                            }
                        }
                    }   
                    & > div {
                        @include display--flex;
                        @include flex-direction(row);
                        p {
                            @include display--flex;
                            @include flex-direction(column);
                        }
                    }
                }
            }
        }
    }
    .container:nth-child(2) {
        p:nth-child(1) {
            font-family: "Ubuntu-Light", sans-serif;
            font-size: 2.250em;
            color: white;
            text-align: center;
            margin-top: 1em;
            @media screen and (max-width: 370px) {
                font-size: 1.5em;
                margin-top: 1.5em;
            }
        }
        p:nth-child(2) {
            font-family: "Ubuntu-Light", sans-serif;
            font-size: 1.125em;
            color: white;
            text-align: center;
            margin-top: 2em;
            padding: 0 3.333em;
            @media screen and (max-width: 640px) {
                padding: 0 1.333em;
            }
        }
    }
}
section.buy {
    .container {
        h1 {
            font-size: 3.000em;
            color: $main-color;
            text-align: center;
            margin-top: 1em;
            
            @media screen and (max-width: 640px) {
                font-size: 2.500em;
            }
            @media screen and (max-width: 370px) {
                font-size: 2.00em;
            }
        }
        .content {
            margin-top: 2em;
            @include display--flex;
            @include flex-direction(row);
            @media screen and (max-width: 440px) {
                @include flex-direction(column);
            }
            //@include flex-wrap(wrap);
            font-family: "Ubuntu-Light", sans-serif;
            font-size: 1.125em;
            text-indent: 1em;
            img {
                margin: auto 0;
                @media screen and (max-width: 640px) {
                    width: 30vw;
                    height: 30vw;
                }
                @media screen and (max-width: 440px) {
                    width: 60vw;
                    height: 60vw;
                    margin: 0 auto;
                }
                @media screen and (max-width: 889px) and (min-width: 641px) {
                    width: 20vw;
                    height: 20vw;
                }
            }
            .text {
                @media screen and (max-width: 440px) {
                    margin-top: 1em;
                }
                p {
                    margin-left: 1em;
                    margin-top: 1em;
                    
                }
                ul {
                    margin-top: 1em;
                    padding-left: 3em;
                    li {
                        list-style: disc;
                        text-indent: 0;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
%table {
    @include display--flex;
    @include flex-direction(column);
    margin-top: 1.7em;
    p {
        font-family: "Ubuntu-Light", sans-serif;
        font-size: 1.125em;
        color: $main-color;
        padding-left: 1em;
        @media screen and (max-width: 640px) {
            font-size: 0.900em;
            padding-left: 0.5em;
        }
        @media screen and (max-width: 370px) {
            font-size: 0.700em;
            padding-left: 0.2em;
        }
    }
    .row {
        @include display--flex;
        @include flex-direction(row);
        width: 100%;
        //padding: 1em 0;
    }
    
}
section.price {
    .container {
        @media screen and (max-width: 640px) {
            font-size: 0.900em;
            padding: 0;
        }
        h2 {
            font-size: 2.250em;
            color: $main-color;
            text-align: center;
            margin-top: 1em;
            border-bottom: 2px solid #e5e5e5;
            padding-bottom: 0.5em;
            @media screen and (max-width: 640px) {
                font-size: 2.500em;
            }
            @media screen and (max-width: 370px) {
                font-size: 2.00em;
            }
        }
        .table--red {
            @extend %table;
            .row:nth-child(2n-1) {
                background-color: #bf7f7f;
            }
            .row:nth-child(2n) {
                background-color: #eae8e7;
            }
            .row {
                .column {
                    border-right: 1px solid #2f2118;
                    padding: 1em 0;
                }
                .column:nth-child(1) {
                    width: 5%;
                    p {
                        margin: 0 auto;
                        @media screen and (max-width: 370px) {
                            padding-left: 3px;
                        }
                    }
                }
                .column:nth-child(2) {
                    width: 41%;
                }
                .column:nth-child(3) {
                    width: 26%;
                }
                .column:nth-child(4) {
                    width: 13%;
                }
                .column:nth-child(5) {
                    width: 15%;
                    border: none;
                }
            }
        }
        .table--grey {
            @extend %table;
            .row:nth-child(2n-1) {
                background-color: #c4c4c4;
            }
            .row:nth-child(2n) {
                background-color: #eae8e7;
            }
            .row {
                .column {
                    border-right: 1px solid #2f2118;
                    padding: 1em 0;
                }
                .column:nth-child(1) {
                    width: 20%;
                    p {
                        margin: 0 auto;
                        padding-left: 30%;
                        /*@media screen and (max-width: 370px) {
                            padding-left: 3px;
                        }*/
                    }
                }
                .column:nth-child(2) {
                    width: 80%;
                    border: none;
                    @media screen and (max-width: 370px) {
                        padding-left: 0.5em;
                    }
                }
            }
        }
    }
}
section.advants {
    margin-top: 3em;
    @media screen and (max-width: 940px) {
        margin-top: 5vw;
    }
    .container {
        @include display--flex;
        @include flex-direction(row);
        //@include justify-content(space-around);
        .advant {
            @include display--flex;
            @include flex-direction(column);
            width: 33%;
            p {
                font-size: 1.563em;
                font-family: "Ubuntu-Light", sans-serif;
                margin: 0 auto;
                margin-top: 1em;
                color: #333333;
                @media screen and (max-width: 780px) {
                    font-size: 1.2em;
                }
                @media screen and (max-width: 440px) {
                    font-size: 0.8em;
                }
            }
            img {
                width: 110px;
                height: 110px;
                margin: 0 auto;
                @media screen and (max-width: 780px) {
                    width: 70px;
                    height: 70px;
                }
                @media screen and (max-width: 440px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
footer {
    background-image: url("../img/footer-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    margin-top: 2em;
    .container {
            @include display--flex;
            @include flex-direction(column);
            @include align-items(center);
        p {
            font-family: "Ubuntu-Regular" ,sans-serif;
            font-size: 1.563em;
            color: white;
            margin-top: 1em;
        }
        img {
            width: 84px;
            height: 84px;
        }
    }
    .footer {
        margin-top: 2em;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1em 0;
        p {
            text-align: center;
            color: #787a7d;
            font-size: 0.750em;
            @media screen and (max-width: 780px) {
                font-size: 0.5em;
            }
            @media screen and (max-width: 440px) {
                font-size: 0.5em;
            }
        }
    }
}