html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light.ttf"); }
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/Ubuntu-Regular.ttf"); }
@media screen and (min-width: 940px) {
  .container {
    margin: 0 auto;
    width: 940px; } }
@media screen and (max-width: 1100px) and (min-width: 940px) {
  .container {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px; } }
@media screen and (max-width: 939px) {
  .container {
    margin: 0 auto;
    width: 100%;
    padding: 0 10px; } }
@media screen and (max-width: 889px) {
  .container {
    font-size: 0.8em; } }

form {
  position: absolute;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 1.5em;
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
  visibility: hidden; }
  form p {
    font-family: "Ubuntu-Regular", sans-serif;
    font-size: 1em; }
  form a {
    width: 30px;
    height: 30px;
    background-image: url("../img/close.png");
    background-size: contain;
    margin-top: 10px;
    margin-left: 85%; }
    form a:hover {
      cursor: pointer;
      background-image: url("../img/close1.png"); }
  form input {
    margin-top: 1em; }
  form input[type=text], form input[type=phone] {
    width: 80%;
    height: 30px;
    text-indent: 0.5em; }
  form input[type=submit] {
    width: 80%;
    height: 30px;
    font-family: "Ubuntu-Regular", sans-serif;
    font-size: 0.8em;
    color: white;
    background-color: #B71C1C;
    border: 2px solid #B71C1C; }
    form input[type=submit]:hover {
      background-color: white;
      cursor: pointer;
      color: #B71C1C; }
  @media screen and (min-width: 940px) {
    form {
      width: 300px;
      margin-left: -webkit-calc(50vw - 470px + 940px - 300px);
      margin-left: -moz-calc(50vw - 470px + 940px - 300px);
      margin-left: calc(50vw - 470px + 940px - 300px);
      margin-top: 120px; } }
  @media screen and (max-width: 939px) and (min-width: 641px) {
    form {
      width: 300px;
      margin-left: -webkit-calc(100vw - 320px);
      margin-left: -moz-calc(100vw - 320px);
      margin-left: calc(100vw - 320px);
      margin-top: 120px; } }
  @media screen and (max-width: 400px) {
    form {
      width: 270px;
      margin-top: 200px;
      margin-left: -webkit-calc(50vw - 135px);
      margin-left: -moz-calc(50vw - 135px);
      margin-left: calc(50vw - 135px); } }
  @media screen and (min-width: 401px) and (max-width: 640px) {
    form {
      margin-top: 200px;
      width: 300px;
      margin-left: -webkit-calc(50vw - 150px);
      margin-left: -moz-calc(50vw - 150px);
      margin-left: calc(50vw - 150px); } }

header {
  padding-bottom: 6.250em;
  background-image: url("../img/banner-1.png");
  background-size: cover;
  background-position: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 370px) {
    header {
      padding-bottom: 3em; } }
  header.concrete {
    background-image: url("../img/banner-2.png"); }
  header .header {
    padding: 15px 0;
    background-color: rgba(46, 32, 37, 0.5); }
    header .header .container {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      @media screen and (max-width: 370px) {
        header .header .container {
          font-size: 0.7em; } }
      header .header .container > img {
        width: 84px;
        height: 84px; }
      header .header .container > p {
        font-family: "Ubuntu-Regular", sans-serif;
        font-size: 1.875em;
        color: white;
        margin: auto 0; }
        @media screen and (max-width: 370px) {
          header .header .container > p {
            font-size: 1.5em; } }
      header .header .container nav {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        margin: auto 0; }
        header .header .container nav a {
          color: white;
          font-family: "Ubuntu-Regular", sans-serif;
          font-size: 1.125em;
          text-decoration: none; }
          header .header .container nav a:nth-child(2) {
            margin-left: 0.5em; }
        header .header .container nav a[href] {
          color: #c0c0c0; }
          header .header .container nav a[href]:hover {
            color: white;
            cursor: pointer; }
        @media screen and (max-width: 780px) {
          header .header .container nav {
            order: 4;
            width: 100%;
            margin: 0;
            -webkit-justify-content: center;
            justify-content: center;
            margin-top: 1.5em; } }
      header .header .container .contacts-container {
        margin: auto 0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        @media screen and (max-width: 780px) {
          header .header .container .contacts-container {
            order: 3; } }
        @media screen and (max-width: 640px) {
          header .header .container .contacts-container {
            width: 100%;
            margin: 0;
            -webkit-justify-content: center;
            justify-content: center;
            margin-top: 1em;
            border: 1px solid white;
            padding: 1em 0; } }
        header .header .container .contacts-container a#form-show {
          text-decoration: underline; }
          header .header .container .contacts-container a#form-show:hover {
            cursor: pointer; }
        header .header .container .contacts-container > div {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: space-around;
          justify-content: space-around; }
          header .header .container .contacts-container > div:nth-child(1) > div:nth-child(1) img {
            width: 15px;
            height: 24px;
            margin: auto 0; }
          header .header .container .contacts-container > div:nth-child(1) > div:nth-child(1) p {
            color: white;
            font-family: "Ubuntu-Regular", sans-serif;
            font-size: 1.125em;
            margin: auto 0.5em; }
          header .header .container .contacts-container > div:nth-child(1) > div:nth-child(2) {
            margin-top: 1em; }
            header .header .container .contacts-container > div:nth-child(1) > div:nth-child(2) img {
              width: 23px;
              height: 16px;
              margin: auto 0; }
            header .header .container .contacts-container > div:nth-child(1) > div:nth-child(2) a {
              color: white;
              font-family: "Ubuntu-Regular", sans-serif;
              font-size: 0.875em;
              text-decoration: none;
              margin: auto 0.5em; }
          header .header .container .contacts-container > div:nth-child(2) {
            margin-left: 1em; }
            header .header .container .contacts-container > div:nth-child(2) > div img {
              width: 22px;
              height: 24px;
              margin: auto 0; }
            header .header .container .contacts-container > div:nth-child(2) > div a {
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              color: white;
              font-family: "Ubuntu-Regular", sans-serif;
              font-size: 1.125em;
              text-decoration: none;
              margin: auto 0.5em; }
            header .header .container .contacts-container > div:nth-child(2) > a {
              margin-top: 1em;
              color: white;
              font-family: "Ubuntu-Regular", sans-serif;
              font-size: 0.750em; }
              header .header .container .contacts-container > div:nth-child(2) > a:hover {
                color: #c0c0c0; }
          header .header .container .contacts-container > div > div {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row; }
            header .header .container .contacts-container > div > div p {
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column; }
  header .container:nth-child(2) p:nth-child(1) {
    font-family: "Ubuntu-Light", sans-serif;
    font-size: 2.250em;
    color: white;
    text-align: center;
    margin-top: 1em; }
    @media screen and (max-width: 370px) {
      header .container:nth-child(2) p:nth-child(1) {
        font-size: 1.5em;
        margin-top: 1.5em; } }
  header .container:nth-child(2) p:nth-child(2) {
    font-family: "Ubuntu-Light", sans-serif;
    font-size: 1.125em;
    color: white;
    text-align: center;
    margin-top: 2em;
    padding: 0 3.333em; }
    @media screen and (max-width: 640px) {
      header .container:nth-child(2) p:nth-child(2) {
        padding: 0 1.333em; } }

section.buy .container h1 {
  font-size: 3.000em;
  color: #333333;
  text-align: center;
  margin-top: 1em; }
  @media screen and (max-width: 640px) {
    section.buy .container h1 {
      font-size: 2.500em; } }
  @media screen and (max-width: 370px) {
    section.buy .container h1 {
      font-size: 2.00em; } }
section.buy .container .content {
  margin-top: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: "Ubuntu-Light", sans-serif;
  font-size: 1.125em;
  text-indent: 1em; }
  @media screen and (max-width: 440px) {
    section.buy .container .content {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  section.buy .container .content img {
    margin: auto 0; }
    @media screen and (max-width: 640px) {
      section.buy .container .content img {
        width: 30vw;
        height: 30vw; } }
    @media screen and (max-width: 440px) {
      section.buy .container .content img {
        width: 60vw;
        height: 60vw;
        margin: 0 auto; } }
    @media screen and (max-width: 889px) and (min-width: 641px) {
      section.buy .container .content img {
        width: 20vw;
        height: 20vw; } }
  @media screen and (max-width: 440px) {
    section.buy .container .content .text {
      margin-top: 1em; } }
  section.buy .container .content .text p {
    margin-left: 1em;
    margin-top: 1em; }
  section.buy .container .content .text ul {
    margin-top: 1em;
    padding-left: 3em; }
    section.buy .container .content .text ul li {
      list-style: disc;
      text-indent: 0;
      margin-left: 0; }

section.price .container .table--red, section.price .container .table--grey {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1.7em; }
  section.price .container .table--red p, section.price .container .table--grey p {
    font-family: "Ubuntu-Light", sans-serif;
    font-size: 1.125em;
    color: #333333;
    padding-left: 1em; }
    @media screen and (max-width: 640px) {
      section.price .container .table--red p, section.price .container .table--grey p {
        font-size: 0.900em;
        padding-left: 0.5em; } }
    @media screen and (max-width: 370px) {
      section.price .container .table--red p, section.price .container .table--grey p {
        font-size: 0.700em;
        padding-left: 0.2em; } }
  section.price .container .table--red .row, section.price .container .table--grey .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%; }

@media screen and (max-width: 640px) {
  section.price .container {
    font-size: 0.900em;
    padding: 0; } }
section.price .container h2 {
  font-size: 2.250em;
  color: #333333;
  text-align: center;
  margin-top: 1em;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 0.5em; }
  @media screen and (max-width: 640px) {
    section.price .container h2 {
      font-size: 2.500em; } }
  @media screen and (max-width: 370px) {
    section.price .container h2 {
      font-size: 2.00em; } }
section.price .container .table--red .row:nth-child(2n-1) {
  background-color: #bf7f7f; }
section.price .container .table--red .row:nth-child(2n) {
  background-color: #eae8e7; }
section.price .container .table--red .row .column {
  border-right: 1px solid #2f2118;
  padding: 1em 0; }
section.price .container .table--red .row .column:nth-child(1) {
  width: 5%; }
  section.price .container .table--red .row .column:nth-child(1) p {
    margin: 0 auto; }
    @media screen and (max-width: 370px) {
      section.price .container .table--red .row .column:nth-child(1) p {
        padding-left: 3px; } }
section.price .container .table--red .row .column:nth-child(2) {
  width: 41%; }
section.price .container .table--red .row .column:nth-child(3) {
  width: 26%; }
section.price .container .table--red .row .column:nth-child(4) {
  width: 13%; }
section.price .container .table--red .row .column:nth-child(5) {
  width: 15%;
  border: none; }
section.price .container .table--grey .row:nth-child(2n-1) {
  background-color: #c4c4c4; }
section.price .container .table--grey .row:nth-child(2n) {
  background-color: #eae8e7; }
section.price .container .table--grey .row .column {
  border-right: 1px solid #2f2118;
  padding: 1em 0; }
section.price .container .table--grey .row .column:nth-child(1) {
  width: 20%; }
  section.price .container .table--grey .row .column:nth-child(1) p {
    margin: 0 auto;
    padding-left: 30%;
    /*@media screen and (max-width: 370px) {
        padding-left: 3px;
    }*/ }
section.price .container .table--grey .row .column:nth-child(2) {
  width: 80%;
  border: none; }
  @media screen and (max-width: 370px) {
    section.price .container .table--grey .row .column:nth-child(2) {
      padding-left: 0.5em; } }

section.advants {
  margin-top: 3em; }
  @media screen and (max-width: 940px) {
    section.advants {
      margin-top: 5vw; } }
  section.advants .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    section.advants .container .advant {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 33%; }
      section.advants .container .advant p {
        font-size: 1.563em;
        font-family: "Ubuntu-Light", sans-serif;
        margin: 0 auto;
        margin-top: 1em;
        color: #333333; }
        @media screen and (max-width: 780px) {
          section.advants .container .advant p {
            font-size: 1.2em; } }
        @media screen and (max-width: 440px) {
          section.advants .container .advant p {
            font-size: 0.8em; } }
      section.advants .container .advant img {
        width: 110px;
        height: 110px;
        margin: 0 auto; }
        @media screen and (max-width: 780px) {
          section.advants .container .advant img {
            width: 70px;
            height: 70px; } }
        @media screen and (max-width: 440px) {
          section.advants .container .advant img {
            width: 40px;
            height: 40px; } }

footer {
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-position: center;
  padding-top: 2em;
  margin-top: 2em; }
  footer .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center; }
    footer .container p {
      font-family: "Ubuntu-Regular" ,sans-serif;
      font-size: 1.563em;
      color: white;
      margin-top: 1em; }
    footer .container img {
      width: 84px;
      height: 84px; }
  footer .footer {
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 0; }
    footer .footer p {
      text-align: center;
      color: #787a7d;
      font-size: 0.750em; }
      @media screen and (max-width: 780px) {
        footer .footer p {
          font-size: 0.5em; } }
      @media screen and (max-width: 440px) {
        footer .footer p {
          font-size: 0.5em; } }

/*# sourceMappingURL=style.css.map */
